services:
  quake_server:
    image: moisesber/quaken:latest
    container_name: quake_server
    ports:
      - "26000:26000/udp"
    volumes:
      - ./quake_data:/nquakesv/id1
      - ./quake_data/maps:/nquakesv/modules
      - ./server.cfg:/nquakesv/id1/server.cfg
    environment:
      - GAME_DIR=id1
      - CONFIG_FILE=server.cfg
    networks:
      - quake_network
    restart: unless-stopped

networks:
  quake_network:
    driver: bridge